# LoggerService variables
SERVER_PORT=6030
OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=change-this-to-a-strong-password
LOG_SCAN_INTERVAL_MS=2000
LOG_TAILER_THREAD_COUNT=20

# Opensearch variables
DISCOVERY_TYPE=single-node
OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m"

# Dashboards variables
OPENSEARCH_HOSTS=["https://opensearch:9200"]
OPENSEARCH_SSL_VERIFICATIONMODE=none # Delete this variable to enable true HTTPS
DASHBOARDS_HOST=dashboards
DASHBOARDS_PORT=5601
SERVICE_HTTP_CONNECT_TIMEOUT=5000
SERVICE_HTTP_READ_TIMEOUT=10000
OPENSEARCH_DASHBOARDS_USERNAME=kibanaserver
OPENSEARCH_DASHBOARDS_PASSWORD=kibanaserver
OPENSEARCH_DASHBOARDS_I18N_LOCALE=en
