.configurationContainer {
    border-width: 1px;
    border-style: none solid none none;
}

.configurationContainer div {
    height: 25vh;
}

.configurationContainer h2 {
    padding-left: 1vw;
    height: 5vh;
}

.configurationContainer label {
    padding-bottom: 4vh;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    width: 40%;
}

.configurationContainer input {
    display: inline-block;
    width: 55%;
    height: 5vh;
    font-size: large;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
    outline: none;
}